body {
  margin: 0;
  padding: 0;
  
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color:#f2f2f2;
}

a {
  text-decoration: none;
  }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-header {
  display: flex;
  flex-direction: column;
  background: url(../img/bg-image.jpg) no-repeat;
}

.title-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.desctiption-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.inner-page .title-text,
.inner-page .desctiption-text {
  text-align: unset;
}

.inner-page .filter {
  background-color: #e5f2fa;
  background-image: url(../img/filter-background-photo.jpg);
  background-repeat: no-repeat;
}

.filter ul {
  list-style: none;
}

.filter .title-text {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filter .desctiption-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.filter-cost {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.button-filter {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.button-filter:hover,
.button-filter:focus {
  color: #000000;
  background-color: #ffffff;
}

.filter fieldset {
  border: 0;
}

.options {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.options-found {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.options-about {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.button-option {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.button-active {
  color: #81b3d2;
  border: none;
}

.catalog {
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.catalog-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.catalog-item-stars {
  list-style: none;
}
.catalog-item-rating {
  background-color: #f2f2f2;
}

.catalog-item-type .button {
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog-item-type .button:focus,
.catalog-item-type .button:hover {
  background-color: #669ec0;
}

.catalog-item-type .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-item-price .button {
  color: #ffffff;
  background-color: #766357;
}

.catalog-item-price .button:focus,
.catalog-item-price .button:hover {
  background-color: #604e43;
}

.catalog-item-price .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  min-height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  }

.main-header-logo {
  width: 239px;
  min-height: 71px;
}

.main-navigation-list-left,
.main-navigation-list-right {
  width: 478px;
  height: 56px;
}

.main-navigation ul {
  list-style: none;
  }

.menu-item a {
  color: #000000;
  }
.menu-item a:focus,
.menu-item a:hover {
  color: #81b3d2
  }

.menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
  }

.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
} 

.intro p {
  margin: 76px auto 0 auto;
}

.intro img {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  min-height: 216px;
  background-color: #ffffff;
  color: #000000;
  }
  
.features {
  background-color: #ffffff;
  color: #000000;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.text-container p {
  width: 280px;
}

.text-container p:nth-of-type(1) {
  width: 155px;
}

.feature-item .title-text {
  color: #ffffff;
  line-height: 21px;
}

.feature-item .desctiption-text {
  color: #ffffff;
}

.features-list li:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1200px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  background-image: url(../img/city-image.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.features-list li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 1200px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  background-image: url(../img/canyon-image.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.feature-item-side {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  min-height: 256px;
}

.feature-item-side .title-text {
  color: #000000;
}

.feature-item-side .desctiption-text {
  color: #333333;
}

.benefits-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 1200px;
  min-height: 330px;
  list-style: none;
}

.benefit-item {
    color: #000000;
}

.benefit-item .text-container {
  justify-content: center;
  min-height: 330px;
}

.element-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 252px;
  min-height: 201px;
  background-image: url(../img/house-icon.png);
  background-position-x: center;
  background-repeat: no-repeat;
}

.element-container.benefit-eat {
  background-image: url(../img/burger-icon.png);
}

.element-container.benefit-souvenirs {
  background-image: url(../img/present-icon.png);
}


.benefit-item .title-text {
  color: #000000;
  line-height: 21px;
}

.benefit-item .desctiption-text {
  line-height: 14px;
}

.canyon-image {
  background-image: url(../img/canyon-image.jpg);
  background-repeat: no-repeat;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 291px;
  background-color: #ffffff;
}

.offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 434px;
}

.offer .desctiption-text {
  font-size: 14px;
  line-height: 24px;
}

.offer-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 568px;
  min-height: 481px;
}

.modal-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #766357;
  min-height: 86px;
  width: 568px;
}

.modal a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.modal a:focus,
.modal a:hover {
  background-color: #604e43;
}

.modal a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 568px;
  min-height: 395px;
}

.modal-search label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.modal-search input[type="date"],
.modal-search input[type="text"],
.modal-search button {
  min-height: 38px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.modal-search input[type="date"] {
  width: 346px;
}

.modal-search input[type="text"],
.modal-search .button {
  width: 38px;
}

.modal-search input[type="date"]:hover {
 background-color: #ebebeb;
}

.modal-search input[type="date"]:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
}

.modal-search-number_of_persons {
  list-style: none;
}

.modal-search .button-search {
  width: 458px;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.modal-search .button-search:focus,
.modal-search .button-search:hover{
  background-color: #669ec0;
}

.modal-search .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 593px;
  background-color: #fff;
  background-image: url(../img/map-image.jpg);
}

.footer-mask {
  display: flex;
  width: 1200px;
  min-height: 120px;
  background-color: #fff;
  opacity: 0.9;
}

.main-footer .footer-visitsedona {
  width: 400px;
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  width: 400px;
}

.social-list {
  list-style: none;
}

.footer-copyright {
  width: 400px;
}

.footer-copyright .desctiption-text {
  text-align: unset;
}

