@-webkit-keyframes popap-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes need-text {
	0% {
		background-color: #f2f2f2;
	}
	50% {
		background-color: rgba(255, 0, 0, 0.5);
	}
	100% {
		background-color: #f2f2f2;
	}
}

@keyframes popap-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes need-text {
	0% {
		background-color: #f2f2f2;
	}
	50% {
		background-color: rgba(255, 0, 0, 0.5);
	}
	100% {
		background-color: #f2f2f2;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	word-wrap: break-word;
	color: #333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	margin: 0 auto;
	width: 1200px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .3), 0 -10px 30px 0 #fff;
	box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .3), 0 -10px 30px 0 #fff;
}

.main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.title-text {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000;
}

.desctiption-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	color: #333;
}

.inner-page .title-text,
.inner-page .desctiption-text {
	text-align: unset;
}

.filter form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1200px;
	min-height: 217px;
	background-color: #5a6d7d;
	background-image: url(../img/filter-background-photo.jpg);
	background-repeat: no-repeat;
	background-size: 1200px 800px;
	background-position: center -294px;
}

.filter-infrastructure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 255px;
	margin-left: 72px;
}

.filter-infrastructure .title-text {
	max-width: 255px;
	margin: 24px 0 0 0;
}

.filter-infrastructure .filter-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 110px;
	padding: 0;
	margin: 22px 0 0 0;
}

.checkbox-filter {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

.checkbox-filter input[type="checkbox"]+.checkbox-indicator {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 19px;
	border: 2px solid #fff;
	border-radius: 2px;
}

.checkbox-filter input[type="checkbox"]:checked+.checkbox-indicator::before {
	position: absolute;
	content: "";
	left: 3px;
	width: 16px;
	height: 7px;
	border-bottom: 4px solid #fff;
	border-left: 4px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkbox-filter input[type="checkbox"]:disabled+.checkbox-indicator,
.checkbox-filter input[type="checkbox"]:checked:disabled+.checkbox-indicator::before {
	border-color: rgba(255, 255, 255, 0.5);
}

.checkbox-filter input[type="checkbox"]:focus+.checkbox-indicator {
	outline: 2px solid #4d90fe;
}

.filter-housing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 273px;
}

.filter-housing .title-text {
	max-width: 273px;
	margin: 24px 0 0 0;
}

.filter-housing .filter-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 110px;
	padding: 0;
	margin: 22px 0 0 0;
}

.filter-price {
	width: 320px;
	padding-left: 210px;
}

.filter-price .title-text {
	max-width: 255px;
	margin: 24px 0 0 0;
}

.filter-cost-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 310px;
	border: 2px solid #fff;
	border-radius: 2px;
	margin-top: 8px;
	padding: 5px 0 5px 4px;
}

.filter-cost {
	height: 22px;
	border: none;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}

.filter-cost-container input:nth-of-type(1) {
	border-right: 2px solid #fff;
}

.filter ul {
	list-style: none;
}

.filter .title-text {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.filter .desctiption-text {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.filter-price-scale {
	position: relative;
	height: 20px;
	margin: 10px 0 24px 0;
}

.filter-price-scale::before {
	position: absolute;
	content: "";
	width: 254px;
	height: 2px;
	background-color: #fff;
	top: 10px;
	left: 10px;
}

.filter-price-scale::after {
	position: absolute;
	content: "";
	width: 54px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	top: 10px;
	right: 2px;
}

.filter-max-toggle:before {
	position: absolute;
	content: "";
	z-index: 10;
	top: 1px;
	left: 1px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #fff;
	cursor: pointer;
	border-radius: 50%;
}

.filter-min-toggle::before {
	position: absolute;
	content: "";
	z-index: 10;
	top: 1px;
	right: 47px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #fff;
	cursor: pointer;
	border-radius: 50%;
}

.filter-max-toggle:hover:before {
	border-width: 9px;
	top: 0;
	left: 0;
}

.filter-min-toggle:hover::before {
	border-width: 9px;
	top: 0;
	right: 46px;
}

.button-filter {
	max-width: 140px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	padding: 6px 33px 5px 34px;
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
	margin-left: 85px;
}

.button-filter:hover,
.button-filter:focus {
	color: #000;
	background-color: #fff;
}

.filter fieldset {
	border: 0;
}

.options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 86px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.options-left-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 517px;
	padding-right: 10px;
	padding-left: 73px;
	line-height: 18px;
}

.options-right-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 600px;
}

.options-found {
	max-width: 120px;
	color: #000;
	font-size: 21px;
	font-weight: 700;
}

.options-about {
	max-width: 85px;
	color: #000;
	line-height: 21px;
	font-size: 12px;
	font-weight: 400;
	margin-left: 10px;
}

.button-option {
	max-width: 85px;
	font-size: 12px;
	line-height: 21px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.button-option:not(.button-active) {
	padding-top: 3px;
}

.button-option:hover {
	color: #81b3d2;
}

.button-option:active {
	color: #000;
	border: none;
}

.button-active {
	color: #81b3d2;
	border: none;
}

.options-right-column svg {
	width: 11px;
	height: 10px;
}

.options-arrow polyline,
.options-arrow polygon {
	fill: #cacaca;
}

.options-arrow:hover polyline,
.options-arrow:hover polygon,
.options-arrow:focus polyline,
.options-arrow:focus polygon {
	fill: #000;
}

.options-active polyline,
.options-active polygon,
.options-arrow:active polyline,
.options-arrow:active polygon {
	fill: #81b3d2;
}

.options-down-arrow {
	padding: 2px 73px 0 12px;
}

.options-up-arrow {
	padding-top: 4px;
}

.catalog {
	background-color: #fff;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item-left-colmun {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	padding-top: 27px;
	padding-left: 237px;
	width: 258px;
	height: 93px;
	background-image: url("../img/hotel-photo1.jpg");
	background-repeat: no-repeat;
	background-position: 72px 30px;
}

.catalog-item:nth-of-type(2) .catalog-item-left-colmun {
	background-image: url("../img/hotel-photo2.jpg");
	background-repeat: no-repeat;
	background-position: 72px 30px;
}

.catalog-item:nth-of-type(3) .catalog-item-left-colmun {
	background-image: url("../img/hotel-photo3.jpg");
	background-repeat: no-repeat;
	background-position: 72px 30px;
}

.catalog-item-right-colmun {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 110px;
	height: 93px;
	margin-left: 522px;
	margin-top: 30px;
}

.catalog-item-right-colmun .catalog-item-rating {
	height: 24px;
	;
	color: #666;
	text-align: center;
	padding-top: 3px;
	margin-top: 46px;
	background-color: #f2f2f2;
}

.catalog-item-stars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	width: 110px;
	padding: 0;
}

.catalog-item-stars img {
	width: 18px;
	margin-left: 5px;
}

.catalog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 1, 1, 0.2);
	min-height: 150px;
}

.catalog-item h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
	max-width: 280px;
}

.catalog-item-stars {
	list-style: none;
}

.catalog-item-type {
	width: 110px;
	padding-bottom: 3px;
}

.catalog-item-price {
	max-width: 150px;
	padding: 0 0 3px 6px;
}

.catalog-item-title {
	color: #000;
	max-width: 280px;
}

.catalog-item-title:hover {
	color: #81b3d2;
}

.catalog-item-title:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-item a {
	font-weight: 700;
	text-align: center;
}

.catalog-item p {
	margin: 0;
}

.catalog-item .button-more {
	display: block;
	color: #fff;
	background-color: #81b3d2;
	width: 110px;
	height: 24px;
	padding-top: 3px;
}

.catalog-item .button-more:focus,
.catalog-item .button-more:hover {
	background-color: #669ec0;
}

.catalog-item .button-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.catalog-item .button-buy {
	color: #fff;
	background-color: #766357;
	width: 142px;
	height: 24px;
	margin-left: 6px;
	padding-top: 3px;
}

.catalog-item .button-buy:focus,
.catalog-item .button-buy:hover {
	background-color: #604e43;
}

.catalog-item .button-buy:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	width: 1200px;
	min-height: 56px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
	background-color: #fff;
}

.main-header-logo {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: 56px;
	padding-left: 51px;
	padding-right: 53px;
}

.main-navigation-list-left,
.main-navigation-list-right {
	width: 478px;
}

.main-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-navigation .menu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 239px;
}

.menu-item a {
	display: block;
	color: #000;
	max-width: 239px;
}

.main-navigation-list-left li:first-child,
.main-navigation-list-left li:nth-child(2) {
	text-align: left;
}

.main-navigation-list-right li:last-child,
.main-navigation-list-right li:nth-last-child(2) {
	text-align: right;
}

.menu-item a:focus,
.menu-item a:hover {
	color: #81b3d2
}

.menu-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.menu-active a {
	color: #766357;
}

.intro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	margin: 0;
	padding: 0;
	background-color: #b2d0e3;
	background-image: url("../img/mask-image.png"), url("../img/bg-image.jpg");
	background-position: center 450px, 0 -83px;
	background-repeat: no-repeat, repeat;
}

.intro p {
	margin: 76px auto 73px auto;
}

.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	color: #000;
}

.description .title-text {
	margin: 61px 380px 13px 380px;
}

.description .desctiption-text {
	margin-bottom: 50px;
	line-height: 26px;
}

.features {
	background-color: #fff;
	color: #000;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.text-container {
	min-height: 256px;
	width: 400px;
}

.text-container .title-text {
	max-width: 151px;
	margin: 47px auto 25px auto;
}

.text-container .desctiption-text {
	width: 305px;
	margin: 0 auto 20px auto;
}

.feature-item .title-text {
	color: #fff;
	line-height: 21px;
}

.feature-item .desctiption-text {
	color: #fff;
}

.features-list>li:nth-of-type(1) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 1200px;
	min-height: 256px;
	background-color: #81b3d2;
	color: #fff;
	background-image: url(../img/city-image.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.features-list>li:nth-of-type(3) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 1200px;
	min-height: 256px;
	background-color: #81b3d2;
	color: #fff;
	background-image: url(../img/canyon-image.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.feature-item-side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #eeeeee;
	min-height: 256px;
}

.feature-item-side .title-text {
	color: #000;
}

.feature-item-side .desctiption-text {
	color: #333;
	width: 265px;
}

.feature-item-side .desctiption-text-reduced {
	width: 250px;
}

.benefits-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	width: 1200px;
	min-height: 330px;
	list-style: none;
}

.benefit-item {
	min-width: 400px;
	color: #000;
}

.benefit-item .title-text {
	padding-top: 138px;
}

.benefit-item .desctiption-text {
	line-height: 21px;
	width: 285px;
	margin: 0 auto;
}

.benefit-house {
	background-image: url(../img/house-icon.png);
	background-position: center 60px;
	background-repeat: no-repeat;
}

.benefit-eat {
	background-image: url(../img/burger-icon.png);
	background-position: center 61px;
	background-repeat: no-repeat;
}

.benefit-souvenirs {
	background-image: url(../img/present-icon.png);
	background-position: center 56px;
	background-repeat: no-repeat;
}

.canyon-image {
	background-image: url(../img/canyon-image.jpg);
	background-repeat: no-repeat;
}

.offer {
	min-height: 291px;
	background-color: #fff;
}

.offer .desctiption-text {
	width: 454px;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 134px;
	margin: 0 auto 0 auto;
}

.offer .title-text {
	padding-top: 50px;
	margin: 0 auto 23px auto;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.modal {
	position: absolute;
	left: 50%;
	top: 2083px;
	margin-left: -284px;
	display: block;
	width: 568px;
}

.modal h2 {
	margin: 0;
}

.modal a {
	display: block;
	width: 100%;
	padding-top: 33px;
	padding-bottom: 32px;
	text-align: center;
	background-color: #766357;
	color: #fff;
}

.modal a:focus,
.modal a:hover {
	background-color: #604e43;
}

.modal a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.modal-search {
	display: none;
	padding-top: 55px;
	width: 568px;
	min-height: 340px;
	background-color: #fff;
	-webkit-box-shadow: 0 38px 95px -21px rgba(0, 0, 0, 0.2);
	box-shadow: 0 38px 95px -21px rgba(0, 0, 0, 0.2);
}

.modal-show {
	display: block;
	-webkit-animation: popap-animation 0.8s;
	animation: popap-animation 0.8s;
}

.wrong-input {
	-webkit-animation: need-text 1s;
	animation: need-text 1s;
}

.modal-search-date,
.modal-search-number_of_persons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 458px;
	margin: 0 auto;
	padding: 0;
}

.modal-search-choose-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.modal-search-calendar {
	width: 38px;
}

.modal-search-calendar svg {
	width: 21px;
	height: 22px;
}

.modal-search-calendar:hover path,
.modal-search-calendar:hover rect {
	fill: #000;
}

.modal-search-calendar:active path,
.modal-search-calendar:active rect {
	fill: #81b3d2;
}

.modal-search-date p {
	margin: 0;
	padding: 0;
}

.modal-search-date {
	margin-bottom: 30px;
}

.modal-search label {
	max-width: 110px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
}

.modal-search input[type="text"],
.modal-search button {
	height: 38px;
	font-weight: 700;
	color: #000;
	background-color: #f2f2f2;
	border: none;
	padding: 0;
}

.modal-search-date input[type="text"] {
	text-transform: uppercase;
	width: 295px;
	padding: 0;
	padding-left: 13px;
}

.modal-search-number_of_persons input[type="text"],
.modal-search .button {
	text-align: center;
	width: 38px;
}

.modal-search-date input[type="text"]:hover {
	background-color: #ebebeb;
}

.modal-search-date input[type="text"]:focus {
	background-color: transparent;
	outline: 2px solid #e5e5e5;
	outline-offset: -2px;
}

.modal-search-date input[type="text"]::-webkit-input-placeholder {
	color: #000;
}

.modal-search-date input[type="text"]::-moz-placeholder {
	color: #000;
}

.modal-search-count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 114px;
}

.modal-search-count button {
	position: relative;
	padding: 0;
}

.modal-search .button-search {
	display: block;
	width: 458px;
	min-height: 58px;
	padding: 0;
	margin-top: 54px;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #81b3d2;
}

.modal-search .button-search:focus,
.modal-search .button-search:hover {
	background-color: #669ec0;
}

.modal-search .button-search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.button::before,
.button::after {
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	background-color: #a9a9a9;
	top: 18px;
	left: 13px;
}

.button:hover:before,
.button:hover:after {
	background-color: #000;
}

.button:active:before,
.button:active:after {
	background-color: #81b3d2;
}

.button-add::after {
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 18px;
	left: 13px;
}

.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	min-height: 593px;
	background-color: #fff;
	background-image: url("../img/map-image.jpg");
	-webkit-box-shadow: 0 20px 30px 0 rgba(50, 50, 50, .3), 0 20px 30px 0 #fff;
	box-shadow: 0 20px 30px 0 rgba(50, 50, 50, .3), 0 20px 30px 0 #fff;
}

.inner-page .main-footer {
	background: #fff;
	min-height: 120px;
}

.footer-mask {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1200px;
	min-height: 120px;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .footer-visitsedona {
	width: 400px;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	padding-top: 48px;
	color: #000;
}

.footer-visitsedona p {
	margin: 0;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 400px;
}

.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	width: 150px;
	margin: 0;
	padding: 0;
}

.social-list a {
	display: block;
	text-align: center;
}

.social-button {
	width: 46px;
	min-height: 48px;
	background-color: #81b3d2;
}

.social-tw img {
	padding-top: 17px;
}

.social-fb img {
	padding-top: 13px;
}

.social-yt img {
	padding-top: 16px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active img {
	opacity: 0.3;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 400px;
}

.footer-copyright-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 241px;
	min-height: 41px;
}

.footer-copyright-container p {
	margin: 0;
	margin-right: 8px;
	max-width: 90px;
}

.academy-button {
	display: block;
	height: 41px;
}

.academy-button:focus path,
.academy-button:hover path,
.academy-button:hover rect,
.academy-button:focus rect {
	fill: #81b3d2;
}

.academy-button:active path,
.academy-button:active rect {
	fill: #bdbbbc;
}

.academy-button svg {
	width: 115px;
	min-height: 41px;
}